{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rango</title>
</head>
<body>
<h1>Rango says</h1>
<div>
    hey there partner<br>
</div>
<div>
    <h1>Most liked Categories</h1>
    {% if categories %}
    <ul>
        {% for c in categories %}
            <li><a href="{% url 'show_category' c.slug %}">{{ c.name }}</a> </li>
        {% endfor %}
    </ul>
    {% else %}
        <strong>No categories present</strong>
    {% endif %}
     <h1>Most Viewed Pages</h1>
    {% if views %}
    <ul>
        {% for v in views %}
            <li><a href="/tango/category/{{ v.slug }}">{{ v.name }}</a> </li>
        {% endfor %}
    {% else %}
    <strong>No categories</strong>
    </ul>
    {% endif %}
</div>
<div>
    <img src="{% static "/images/rango.jpg" %}">
</div>
<div>
    <a href="/tango/about">About</a><br>
</div>
</body>
</html>